.layout-content-wrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.layout-content {
    flex-grow: 1;
    width: 100%;
}
